*{
  font-family: 'Acme', sans-serif;
}
body{
  background-image: url(../images/fondo1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.button{
  background-color: gray;
  color: white;
  width: 20px;
  height: 20px;
}

.content-text{
}
